
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

nav {
    width: 100%;
    background-color: hsl(218, 28%, 13%);
    margin: -8px;
    padding: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fylo-logo {
    display: inline-block;
}

/*
this transforms the unordered list to 
a single row
*/
.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
below code is the design for the
navigation items
*/
.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;

    color: white;
    font-family: Raleway, sans-serif;
}
